@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

@media only screen and (min-width: 300px) {
  body {
    font-size: 16px;
    width: 100%;
  }
  :root {
    --colores-background-Head: #dad2d8;
    --colorres-Principal-Azul: #143642;
    --colores-Secundario-Rojo: #d42929;
    --colores-Terciario-Negro: #0000;
    --colores-background-Section: #0f8b8d;
    --opacity-background-Section: 27%;
    --TamañoTitulos: 1.875rem;
    --TamañoSubtitulos: 1.5625rem;
    --tamañaParrafos: 1rem;
    --Tamaña-BorderRadius: 0.3125rem;
    --Tamaño-paddingx: 0.3125rem;
    --Tamaño-paddingy: 0.25rem;
    --tamaño-links: 18px;
    --input-alto: 3.5rem;
    --input-ancho: 100%;
    --Tamaña-margin: 1rem;
    --tamañowidth-iconos: 3.125rem;
    --tamañoHeight-iconos: 3.125rem;
    --tamño-TextosPequños: 0.875rem;
    --tamaño-letrabotones: 1.25rem;
    --color: #ffff;
  }
  .nav-content {
    background-color: var(--colores-background-Head);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.125rem 0;
  }
  .nav-content li {
    margin: 0 0.3125rem;
    list-style: none;
  }
  .nav-content li a {
    font-weight: bold;
    font-size: var(--tamaño-links);
    color: var(--colorres-Principal-Azul);
    background-color: var(--colores-background-Section);
    border-radius: var(--Tamaña-BorderRadius);
    text-decoration: none;
    border: 2px solid var(--color);
    padding: var(--Tamaño-paddingy) var(--Tamaño-paddingx);
  }
  .nav-logo {
    display: flex;
    justify-content: start;
  }
  .nav-logo img {
    border-radius: var(--Tamaña-BorderRadius);
    margin-left: 15px;
    width: 53px;
    height: 50px;
  }
  .nav-item {
    display: flex;
    justify-content: center;
  }
  .banner-home img {
    width: 100%;
    height: 15.0625rem;
  }
  .Subtitulos h3 {
    font-weight: bold;
    font-size: var(--TamañoSubtitulos);
    color: var(--colorres-Principal-Azul);
    border-left: 0.375rem solid var(--colores-Secundario-Rojo);
  }
  .pregunta-home {
    margin-top: 3.875rem;
    text-align: center;
  }
  .pregunta-home img {
    width: var(--tamañowidth-iconos);
    height: var(--tamañoHeight-iconos);
  }
  .section-preguntas-home {
    width: 80%;
    margin: auto;
  }
  .subtitulo-Home {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .logos-Home {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .logos-Home img {
    margin: 0 0.9375rem;
    margin-bottom: 0.625rem;
  }
  .foto-perfil img {
    margin-top: 0.9375rem;
    width: 12.5rem;
    height: 6.25rem;
  }
  .Redes-Home h4 {
    color: var(--colorres-Principal-Azul);
    font-size: var(--TamañoSubtitulos);
    margin: 0.9375rem 0;
  }
  .Redes-Home {
    text-align: center;
    margin: 5rem 0;
    margin-bottom: 0.625rem;
  }
  .logos-Redes-Home img {
    text-align: center;
    margin: 0 0.9375rem;
    margin-bottom: 0.625rem;
  }
  .cont-footer {
    background-color: var(--colores-background-Head);
    text-align: center;
  }
  .cont-footer h3 {
    color: var(--colores-background-Section);
  }
  .cont-footer img {
    height: 20px;
    width: 40px;
  }
  .cont-Section {
    width: 100%;
    background: rgba(15, 139, 141, 0.23);
    height: 4.6875rem;
    display: flex;
    justify-content: center;

    align-items: center;
  }
  .cont-Section h2 {
    font-size: var(--TamañoTitulos);
    color: var(--colorres-Principal-Azul);
    position: relative;
  }
  .diseno-section {
    width: 0.875rem;
    height: 3rem;
    background-color: rgba(236, 154, 41, 0.42);
    transform: rotate(50deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
  }

  /*Projectos*/
  .card {
    margin-top: 0.5rem;
  }
  .grid-card {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
  .img-card {
    text-align: center;
    border-radius: var(--Tamaña-BorderRadius);
  }
  .img-card img {
    object-fit: contain;
    width: 80%;
    border-radius: var(--Tamaña-BorderRadius);
  }
  .logos-card {
    text-align: center;
  }
  .logos-card img {
    width: var(--tamañowidth-iconos);
    height: var(--tamañoHeight-iconos);
  }
  .buttons-card {
    margin-top: 1.25rem;
  }
  .buttons-card a {
    width: max-content;
    padding: var(--Tamaño-paddingy) var(--Tamaño-paddingx);
    border: 0.0625rem solid var(--colores-background-Section);
    display: block;
    text-decoration: none;
    font-size: var(--tamño-TextosPequños);
    color: var(--colores-background-Section);
    border-radius: var(--Tamaña-BorderRadius);
    margin: 0.3125rem 0;
  }
  .bxs-log-in-circle,
  .bxl-github {
    font-size: 1.125rem;
  }
  .CardBlog {
    overflow: hidden;

    width: 80%;
    height: max-content;
    margin: 0.9375rem auto;
    border: 0.0625rem solid var(--colores-background-Head);
    border-radius: var(--Tamaña-BorderRadius);
    padding: 0.5rem 0.9375rem;
    box-shadow: 5px 4px 1.4px 15px 5px var(--colorres-Principal-Azul);
  }
  .titleBlog h2 {
    font-size: var(--TamañoSubtitulos);
  }
  .datos-blog {
    overflow: hidden;
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
  }
  .datos-blog p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--colores-background-Section);
  }
  .parrafo-Blog {
    height: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
    width: 100%;
  }
  :root {
    --colores-background-Head: #dad2d8;
    --colorres-Principal-Azul: #143642;
    --colores-Secundario-Rojo: #d42929;
    --colores-Terciario-Negro: #0000;
    --colores-background-Section: #0f8b8d;
    --opacity-background-Section: 27%;
    --TamañoTitulos: 1.875rem;
    --TamañoSubtitulos: 1.5625rem;
    --tamañaParrafos: 1rem;
    --Tamaña-BorderRadius: 0.3125rem;
    --Tamaño-paddingx: 3.125rem;
    --Tamaño-paddingy: 0.625rem;
    --input-alto: 3.5rem;
    --input-ancho: 100%;
    --Tamaña-margin: 1rem;
    --tamañowidth-iconos: 3.125rem;
    --tamañoHeight-iconos: 3.125rem;
    --tamño-TextosPequños: 0.875rem;
    --tamaño-letrabotones: 1.25rem;
  }
  .nav-content {
    background-color: var(--colores-background-Head);
    display: flex;
    justify-content: space-evenly;
  }
  .nav-content li img {
    width: 3.3125rem;
    height: 3.3125rem;
  }
  .width-home {
    margin: auto;
    width: 64%;
  }
  .pregunta-home img {
    width: 9.375rem;
    height: 6.25rem;
  }
  .banner-home {
    margin: auto;
    width: 85%;
  }
  .banner-home img {
    height: 18.0625rem;
  }
  .width-Proyectos {
    width: 64%;
    margin: auto;
  }
  .img-card img {
    height: 50%;
  }
  .buttons-card a,
  i {
    font-size: var(--tamaño-letrabotones);
  }
  .bxs-log-in-circle,
  .bxl-github {
    font-size: 1.25rem;
  }
}
